* {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 1px solid silver;
    padding: 30px 20px;
    border-radius: 7px;
    width: 600px;
    /* color: rgba(192, 192, 192, 0.413) !important; */
}

.container .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading + p {
    padding: 10px 0;
    font-size: 15px;
}

.price {
    color: red;
}