.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: red;
    border: 2px solid black;
    height: 200px;
}

.container div:first-child {
    background-color: blue;
}

.container div:nth-child(2) {
    background-color: yellowgreen;
}

.container div:nth-child(3) {
    background-color: skyblue;
}

.container div:nth-child(5) {
    background-color: rgb(235, 182, 135);
}

.container div:nth-child(6) {
    background-color: rgb(213, 135, 235);
}

.container div:nth-child(7) {
    background-color: rgba(187, 235, 135, 0.508);
}

.container div:last-child {
    background-color: purple;
}