* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo {
    position: absolute;
    left: 0%;
    right: 76.03%;
    top: 21.57%;
    bottom: 1.74%;
    background: linear-gradient(132.47deg, #EB662B 15.65%, #F28555 86.41%);
}