* {
    margin: 0;
    padding: 0;
    color: white; 
    background: black;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}


nav > div img {
    width: 150px;
    background: white;
}

ul button {
    padding: 4px 8px;
}

/* Section  */

section {
    text-align: center;
    margin-block: 100px;
}

section h1  {
    font-size: 50px;
}

h1:nth-child(2) {
    font-weight: bold;
    background: linear-gradient(to right, rgb(115, 38, 239), rgb(180, 75, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section h3 {
    color: gray;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

section input {
    border: 4px solid purple;
    width: 400px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-container input {
    padding-block: 16px;
    padding-right: 100px;
    padding-left: 10px;
    border-radius: 13px;
    border: 4px solid rgb(115, 38, 239); 
    box-shadow: 0 0 0 4px rgb(180, 75, 255) 0%; 
}

.search-container button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 15px;
    border: none;
    font-weight: 700;
    border-radius: 13px;
    background-color: rgb(115, 38, 239);
    color: white;
    cursor: pointer;
}

div:last-child {
    color: gray;
    margin-top: 35px;
}